.movie-card{
    position: relative;
    background-color: aqua;
    margin:8px
}

.movie-card .voting-section{
    position: absolute;
    top: 0px;
}
.voting{
    margin-left: 72%;
}

.movie-detail-section{
    position: absolute;
    top: 90%;
    width: 100%;
    flex-direction: column;
}


/*Review Card css*/
.review-card{
    position: relative;
}
.review-card-section-1{
    position: absolute;
    top:6% ;
}
.overview-desc{   
    overflow: auto;
}
::-webkit-scrollbar{
    width: 8px;
  
    border-radius: 5px 5px;
    background-color: rgb(5, 18, 29);
}
.overview-desc::-webkit-scrollbar-thumb{

    background-color: rgb(52, 165, 42);
}

.review-card-section-2{
    position: absolute;
    top:55% ;
}

@media screen and (max-width:900px) {
    .movie-title-section{
        position: absolute;
        top: 79.5%;
    }
}