.movie-card{
    position: relative;
   width: 280px;
   height: 380px;
   margin-top: 20px;
}

.movie-card .voting-section{
    position: absolute;
    top: 0px;
}
.voting{
    margin-left: 72%;
}

.movie-detail-section{
    position: absolute;
    top: 95%;
    width: 100%;
    flex-direction: column;
}


/*Review Card css*/
.review-card{
    position: relative;
    width: 280px;
   height: 380px;

}
.review-card-section-1{
    position: absolute;
    top: 8%;
    font-size: 15px;
}
.review-overview-desc{
    height: 140px;
    overflow: auto;
 }

.review-card-section-2{
    position: absolute;
    top:58% ;
    font-size: 12px;
    font-weight: 800px;
}

 ::-webkit-scrollbar{
    width: 15px;
    border-radius: 5px 5px;
    background-color: white;
 }
 .review-overview-desc::-webkit-scrollbar-thumb{
background-color: green; 
 }
 

@media screen and (min-width:1200px) {


.movie-card{
    width: 300px;
    height: 400px;
 }
 .review-card{
   width: 300px;
   height: 400px;
 }
 .review-card-section-1{
   font-size: 17px;
   
 }
 .review-overview-desc{
   height: 180px;
 }
 .review-card-section-2{
   font-size: 15px;
   top: 63%;
 }



}