.carousel-movie-card{
    position: relative;
   width: 230px;
   height: 300px;
   margin-bottom: 5rem;
 }
 
 .carousel-movie-card .voting-section{
    position: absolute;
    top: 0px;
 }
 .voting{
    margin-left: 72%;
 }
 
 .carousel-movie-detail-section{
    position: absolute;
    top: 100%;
    width: 100%;
    flex-direction: column;
 }
 
 
 /*Review Card css*/
 .carousel-review-card{
    position: relative;
    width: 230px;
    height: 300px;
    margin-bottom: 5rem;
    

 }
 .carousel-review-card-section-1{
    position: absolute;
    top: 8%;
    font-size: 15px;
 }
.overview-desc{
   height: 100px;
   overflow: auto;
}
 .carousel-review-card-section-2{
   position: absolute;
   top:58% ;
   font-size: 12px;
   font-weight: 600px;
}

 ::-webkit-scrollbar{
    width: 15px;
    border-radius: 5px 5px;
    background-color: white;
 }
 .overview-desc::-webkit-scrollbar-thumb{
background-color: green; 
 }
 
 
@media screen and (min-width:1200px) {
    .carousel-movie-card{
       width: 300px;
       height: 400px;
    }
    .carousel-review-card{
      width: 300px;
      height: 400px;
    }
    .carousel-review-card-section-1{
      font-size: 17px;
      
    }
    .overview-desc{
      height: 180px;
    }
    .carousel-review-card-section-2{
      font-size: 15px;
      top: 63%;
    }
    
}

